# Restart the editor after modifying the configuration
# Configuration item document: https://editorconfig.org/

# Tell the EditorConfig plugin that the current file is the root file
root = true

# Applicable to all files
[*]
## Set the character set
charset = utf-8
## Indentation style space | tab, space is recommended (will be automatically inherited to Prettier)
indent_style = space
## Number of spaces for indentation (will be automatically inherited to Prettier)
indent_size = 2
## Line break type lf | cr | crlf, usually set to lf
end_of_line = lf
## Whether to insert a blank line at the end of the file
insert_final_newline = true
## Whether to delete the leading and trailing spaces in a line
trim_trailing_whitespace = true

# Applicable to .md files
[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
