// Global CSS variables
@import './variables.css';
// Transition
@import './transition.scss';
// Element Plus
@import './element-plus.css';
@import './element-plus.scss';
// Register multiple themes
@import './theme/register.scss';
// Mixins
@import './mixins.scss';
// View Transition
@import './view-transition.scss';
// Custom
@import './custom.scss';
// Business pages should almost always mount class="app-container" on the root element to keep the page beautiful
.app-container {
  padding: 20px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--prefix-body-text-color);
  // background-color: var(--prefix-body-bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
  @extend %scrollbar;
}

#app {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}
