/** Global CSS variables, which can be used not only in CSS and SCSS, but also imported into JS for use */

:root {
  --el-color-primary: #005d98;
  /** Body */
  --prefix-body-text-color: var(--el-text-color-primary);
  --prefix-body-bg-color: var(--el-bg-color-page);
  /** Header area = NavigationBar component + TagsView component */
  --prefix-header-height: calc(
    var(--prefix-navigationbar-height) + var(--prefix-tagsview-height) + var(--prefix-header-border-bottom-width)
  );
  --prefix-header-bg-color: var(--el-bg-color);
  --prefix-header-box-shadow: var(--el-box-shadow-lighter);
  --prefix-header-border-bottom-width: 1px;
  --prefix-header-border-bottom: var(--prefix-header-border-bottom-width) solid var(--el-fill-color);
  /** NavigationBar component */
  --prefix-navigationbar-height: 50px;
  --prefix-navigationbar-text-color: var(--el-text-color-regular);
  /** Sidebar component (all left modes are effective, all top modes are ineffective, and non-color parts of mixed modes are effective) */
  --prefix-sidebar-width: 220px;
  --prefix-sidebar-hide-width: 58px;
  --prefix-sidebar-border-right: 1px solid var(--el-fill-color);
  --prefix-sidebar-menu-item-height: 60px;
  --prefix-sidebar-menu-tip-line-bg-color: var(--el-color-primary);
  --prefix-sidebar-menu-bg-color: #005d98;
  --prefix-sidebar-menu-hover-bg-color: #409eff10;
  --prefix-sidebar-menu-text-color: #cfd3dc;
  --prefix-sidebar-menu-active-text-color: #ffffff;
  /** TagsView component */
  --prefix-tagsview-height: 34px;
  --prefix-tagsview-text-color: var(--el-text-color-regular);
  --prefix-tagsview-tag-active-text-color: #ffffff;
  --prefix-tagsview-tag-bg-color: var(--el-bg-color);
  --prefix-tagsview-tag-active-bg-color: var(--el-color-primary);
  --prefix-tagsview-tag-border-radius: 2px;
  --prefix-tagsview-tag-border-color: var(--el-border-color-lighter);
  --prefix-tagsview-tag-active-border-color: var(--el-color-primary);
  --prefix-tagsview-tag-icon-hover-bg-color: #00000030;
  --prefix-tagsview-tag-icon-hover-color: #ffffff;
  --prefix-tagsview-contextmenu-text-color: var(--el-text-color-regular);
  --prefix-tagsview-contextmenu-hover-text-color: var(--el-text-color-primary);
  --prefix-tagsview-contextmenu-bg-color: var(--el-bg-color-overlay);
  --prefix-tagsview-contextmenu-hover-bg-color: var(--el-fill-color);
  --prefix-tagsview-contextmenu-box-shadow: var(--el-box-shadow);
  /** Hamburger component */
  --prefix-hamburger-text-color: var(--el-text-color-primary);
  /** RightPanel component */
  --prefix-rightpanel-button-bg-color: #005d98;
}

/** When the content area is enlarged, hide unnecessary components */
body.content-large {
  /** Header area = TagsView component */
  --prefix-header-height: var(--prefix-tagsview-height);
  /** NavigationBar component */
  --prefix-navigationbar-height: 0px;
  /** Sidebar component */
  --prefix-sidebar-width: 0px;
  --prefix-sidebar-hide-width: 0px;
}

/** When the content area is full screen, hide unnecessary components */
body.content-full {
  /** Header area */
  --prefix-header-height: 0px;
  /** NavigationBar component */
  --prefix-navigationbar-height: 0px;
  /** Sidebar component */
  --prefix-sidebar-width: 0px;
  --prefix-sidebar-hide-width: 0px; /** TagsView component */
  --prefix-tagsview-height: 0px;
}
