/** Customize Vxe Table style */

.vxe-grid {
  // Form
  &--form-wrapper {
    .vxe-form {
      padding: 10px 20px !important;
      margin-bottom: 20px !important;
    }
  }

  // Toolbar
  &--toolbar-wrapper {
    .vxe-toolbar {
      padding: 20px !important;
    }
  }

  // Pagination
  &--pager-wrapper {
    .vxe-pager {
      height: 70px !important;
      padding: 0 20px !important;
      &--wrapper {
        @media screen and (max-width: 768px) {
          .vxe-pager--total,
          .vxe-pager--sizes,
          .vxe-pager--jump,
          .vxe-pager--jump-prev,
          .vxe-pager--jump-next {
            display: none !important;
          }
        }
      }
    }
  }
}
